<section class="experiance">
	<header class="experiance__header">
		<h1 class="experiance__header_title">
			latest projects
		</h1>
		<p class="experiance__header_text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut a, ea quasi. Amet porro qui, dolore expedita officiis eos in sequi est, impedit fuga quisquam sunt! Ea delectus, culpa odit.
		</p>
		<div class="experiance__header_buttons">
			<button class="button red">
				view projects
			</button>
			<button class="button">
				contact
			</button>
		</div>
	</header>
	<article class="experiance__slick item">
		<div class="item__interactive">
			<div class="item__vid">
				<div class="item__play-icon">
					<img src="img/play-icon.png" alt="play-icon">
				</div>
			</div>
			<div class="item__photo">
			</div>
			<div class="item__descr description">
				<h1 class="description__header">
					Tajam
				</h1>
				<h2 class="description__subheader">
					Technologies which had been used:
				</h2>
			
				<div class="description__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum mollitia dicta vero repudiandae laborum optio consectetur corrupti soluta. Repellendus eius vero impedit quos inventore incidunt cum velit explicabo necessitatibus eum!</p>
				</div>
			</div>
		</div>
		<!-- <div class="jwood_interactive">
			<div class="item__vid">
				<div class="item__play-icon">
					<img src="img/play-icon.png" alt="play-icon">
				</div>
			</div>
			<div class="item__photo">
			</div>
			<div class="item__descr description">
				<h1 class="description__header">
					J-Wood
				</h1>
				<h2 class="description__subheader">
					Technologies which had been used:
				</h2>
			
				<div class="description__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum mollitia dicta vero repudiandae laborum optio consectetur corrupti soluta. Repellendus eius vero impedit quos inventore incidunt cum velit explicabo necessitatibus eum!</p>
				</div>
			</div>
		</div> -->
		
	</article>
</section>

<div class="modal">
	<div class="modal__vid">
	</div>
	<div class="cancell">
		<span class="cancell__strips"></span>
		<span class="cancell__strips"></span>
	</div>
</div>